.Player-Object {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    color: rgb(255, 170, 217);
    padding-bottom: 50px;
  }
  .Player-Object-Character {
    width: 48px;
    height: 48px;
    background: url('../assets/characters/hero.png') -192px 0 no-repeat;
    transform: scale(-4, 4);
    transition: transform ease-in .4s;
    animation: heroIdle 1s steps(3) infinite;
  }
  @keyframes heroIdle {
    100% { background-position-x: -336px}
  }
  #Player-Fighting {
    background: url('../assets/characters/hero.png') 0 -96px no-repeat;
    animation: heroAttack 2s steps(7);
  }
  @keyframes heroAttack {
    100% { background-position-x: -336px}
  }
  #Player-Posture-Broken {
    background: url('../assets/characters/hero.png') 0 0 no-repeat;
    animation: heroPostureBroken 1s steps(3) infinite;
  }
  @keyframes heroPostureBroken {
    100% { background-position-x: -144px}
  }
}
