@import url('https://fonts.googleapis.com/css?family=Stylish');
@font-face {
  font-family: Kamikaze;
  src: url('./style/fonts/Kamikaze.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Stylish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
